{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "jsx-quotes": 1,
    "no-trailing-spaces": 0,
    "no-console": 1,
    "no-debugger": 1,
    "semi": [1, "always"],
    "no-var": 1,
    "quotes": 0,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "no-underscore-dangle": 0,
    "eol-last": 0,
    "no-unused-vars": 0,
    "react/prop-types": [2, { "skipUndeclared": true }]
  }
}
