body {
  padding-top: 10px;
}

@media (min-width: 992px) {
  body {
    padding-top: 12px;
  }
}

.card {
  height: 100%;
}

.navLink {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #fff;
  background-color: #080808;
}
